body {
	background-color: lightgray;
}


h1 {
  color: navy;
  margin-left: 20px;
  font: 50px , Verdana Bold;
  text-align: center;
  text-decoration: overline;
  text-shadow: darkgreen;
  text-decoration-line: underline;
}
.menudiv {
	border: solid 2px darkgreen;
	margin: 10px;
}

.firstDiv {
		border-radius: 10px;
}

.SecDiv {
		border-radius: 10px;
}

.ThrdDiv {
		border-radius: 10px;
}

.borderedSpan {
	border: solid 2px darkgreen;
	font-size: 25pt;
	align-content: right ;
	float: right;
	background-color: lightblue;
	font-weight: bold;
}




/********** Large devices only **********/


@media (min-width: 992px) {
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  flex-direction: grid;
  grid-template-columns: auto auto auto;
}	
}



/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.row {
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  flex-direction: grid;
  grid-template-columns: auto auto ;
}
	.ThrdDiv{
	border-radius: 10px;
	grid-column-start: 1;
	grid-column-end: 3;
}
}


  /********** Small devices only **********/
@media (max-width: 767px) {
	.row {
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  flex-direction: grid;
  grid-template-columns: auto;
}
}


p {
  width: 90%;
  height: 150%;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia;
  color: black;
  font-size: 22pt;
  
}
 

